<h3>  New product</h3>
<% cat_list = @cat_list %>
<div id='category_field'>
	<label>Catagories</label>
	<select id="category_list">
		<option value="" selected="true"></option>
		<%if !cat_list.nil?%>
		<% cat_list.each do |cat| %>
		<option value='<%=cat.id%>'><%=cat.name%></option>

		<% end %>
		<% end %>
	</select>

	<%if !cat_list.nil? %>
	<% cat_list.each do |cat| %>
	<div style="display:none;" class= "cat_div"id = "sub_cat<%=cat.id%>">
		<br/>
		<br/>
		<label>Sub Catagories</label>
		<select id="sub_category_list">
		<option value="" selected="true"></option>
			<% if !cat.sub_categories.nil? %>
			<% cat.sub_categories.each do |sub_cat| %>
			<option value='<%= sub_cat.id %>'> <%=sub_cat.name%></option>			
			<% end %>
			<% end %>
		</select>
	</div>
	<% end %>
	<% end %>
	

	<br/><br/>
	<span id = "add_product" style="display:none;"><%= render 'form' %></span>

</div>

<script type="text/javascript">

	$('#category_list').change(function(){
	//$('.sub_cat_section').hide();
	var cat_id = $(this).find("option:selected").val();
	var sub_cat_id = "sub_cat" + cat_id;
	$(".cat_div").hide();
	$("#"+sub_cat_id).show();
});

	$('.cat_div').change(function(){
		//var sub_cat_id = $('#sub_category_list').val();
		var cat_id = $('#category_list').find("option:selected").val();
		var sub_cat_id = "sub_cat" + cat_id;
		var sub_cat_val = $("#"+sub_cat_id).find("option:selected").val();
		$("#add_product").show();
		$("#product_sub_category_id").val(sub_cat_val);
	});
</script>