<%#= form_for(@product) do |f| %>
<%= nested_form_for @product do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%#= f.label :image_url %><br />
    <%#= f.file_field :image_url %>
  </div>

  <div class="field">
  <%# p_image  = f.object.image.present? ? f.object.image : f.object.build_image %>
  <% f.fields_for :image do |builder| %>
    <%= builder.label :image_url%>
    <span id = "add_image"><%= builder.file_field :image_url %></span>
    <%= builder.link_to_remove "Remove image" %>
    <% end %>
    <span id = "image_cl" style = "font-weight: bold"><%= f.link_to_add "Add image", :image %></span>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>

   <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>

  <div class="field" style="display:none;">
    <%= f.label :sub_category_id %><br />
    <%= f.text_field :sub_category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
$(".add_nested_fields").click(function(){
$(this).hide();
});
</script>
