<% if @products.present? %>
<% @products.each do |product| %>
<div class="entry">
    <% if product["image_name"] != "" %>
    <% image = Image.where('image_url=?',product["image_name"]) %>
    <% if image.present? %>
	<%= image_tag(image.first.image_url, class: 'list_image') %>
	<% end %>
	<% end %>
	<h3><%= product["title"] %></h3>
	<%= sanitize(product["description"]) %>
	<%#if (product["rating"].length) %>
	<div class="price_line">
		<span class="price"><%= number_to_currency(product["price"]) %></span>
		<%= button_to 'Add to Cart', line_items_path(product_id: product["id"]) ,remote: true%>
		<br />
		rating:<%= product["rating"]%>
	</div>
</div>
<% end %>
<% else %>
<h3><%= 'No products available' %></h3>
<% end %>
