<%#= form_for(@category) do |f| %>
<%= nested_form_for @category ,remote: true do |f| %>
<%#= form_for(@category, :html => {:multipart => true}) do |f| %>
<% if @category.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

  <ul>
    <% @category.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :category%><br />
  <%= f.text_field :name %>
</div>
<br />
<div class="field">
<% f.fields_for :sub_categories do |builder| %>
      <%= builder.label :subCategory%>
      <span id = "add_subcat"><%= builder.text_field :name %></span>
      <%= builder.link_to_remove "Remove subCategory" %>
  <% end %>
  <p><%= f.link_to_add "Add subCategory", :sub_categories %></p>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>


